@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden;   */
}

*::selection {
  background: rgb(175, 20, 20);
  color: #fff;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: white;
  color: black;
  font-size: 1.2rem;
}

h1 {
  color: rgb(175, 20, 20);
  text-align: center;
  padding: 2rem 0;
  font-size: 3.4rem;
  background-color: lightcoral;
  background-color: khaki;
}

section.info {
  position: relative;
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(247, 234, 123);
}

.start-image {
  width: 40%;
  height: 95%;
  object-fit: contain;
}

.start-para {
  position: relative;
  top: 10px;
  width: 45%;
  left: 10px;
  height: 70%;
  /* overflow: hidden; */
}

.start-para h2 {
  font-size: 2.3rem;
  margin-bottom: 12px;
}

.start-para .quote {
  margin-bottom: 7px;
}

.start-para button {
  display: inline-block;
  padding: 12px 2rem;
  border: 2px solid rgb(175, 20, 20);
  color: rgb(175, 20, 20);
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-top: 20px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: rgb(175, 20, 20);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}
.container{
  margin-top: 7rem;
}

.faq {
  color: rgb(175, 20, 20);
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}

.choice{
  padding: .7rem 1.1rem;
  background-color: rgb(255, 243, 155);
  border: 2px solid brown;
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-top: 30px;
}

.accordion {
  width: 90%;
  max-width: 1050px;
  margin: 2rem auto;
}

.ans{
  width: 30%;
  /* height: auto; */
  margin-left: 10%;
}

.png{
  width: 40%;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-header:hover,
.accordion-item-header.active{
  color:brown;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
